.menu{
  width:80%;
  height:150px;
  margin:0 auto;
}

.logoalign{
  float:left;
}

.menu ul {
  list-style:none;
  float:right;
  margin-top:50px;
}

.menu li {
  margin:20px;
  border : 0;
  float: left;
  padding-top: 20px;
}

a{
  text-decoration: none;
  color:black;
}

.contentalign{
  margin: 0 auto;
  width: 60%;
}

.partstyle{
  background-color: rgba(204, 204, 255, 0.4);
  width:30%;
  height:450px;
  float:left;
  padding:20px;
}

.symstyle{
  background-color: rgba(204, 204, 255, 0.4);
  width:60%;
  height:450px;
  float:left;
  margin-left: 10px;
  padding:20px;
}

.logo{
  width:200px;
  margin-top: 35px;
  margin-left: 20px;
}

input[radio]{
  width:20px;
}

.checklist{
  list-style:none;
  margin-top:0;
  display: block;
  padding-left: 0;
}

.checkli{
  border:0;
  padding-top:0;
  margin-top:10px;
  display: block;
}

.saveSearchButton {
  width:100px;
  height:30px;
  float: right;
  margin:20px;
}

.listup{
  background-color: rgba(204, 204, 255, 0.4);
  width:100%;
  height:100%;
}

table .listTable{
  padding:20px;
  height:120px;
}

.detailTable{
    padding:20px;
}

td{
  padding:10px;
}

.disimage{
  width:120px;
  height:120px;
}

.detailimage{
  width:200px;
  height:200px;
}

.detailback{
  background-color: rgba(204, 204, 255, 0.4);
  height: 100%;
}

.checkedBox{
  width:100px;
  height:50px;
}


.hospitalList{
  background-color: rgba(204, 204, 255, 0.4);
  width:20%;
  height:450px;
  float:left;
  padding:20px;
}

.hospitalMap{
  background-color: rgba(204, 204, 255, 0.4);
  width:70%;
  height:450px;
  float:left;
  margin-left: 10px;
  padding:20px;
}

h1 {
  margin-top:40px;
  margin-bottom: 20px;
}

.searchMedicine{
  width:90%;
  height:35px;
  display:inline-block;
}

.medicineBtn{
  width:8%;
  height: 41px;
  display:inline-block;
}

.MedicineSearchDiv{
  margin:0 auto;
}