.menu{
  background: linear-gradient(30deg, rgb(4, 73, 95), rgb(121, 200, 206));
  padding:20px;
}

.homeMenu{
  background:white;
  padding:20px;
}

.findParmacy{
  padding-right: 100px;
}

.homeMenu, .menu ul {
  list-style:none;
  float:right;
  margin-top:50px;
}

.homeMenuList, .menuList{
  width:1920px;
  margin:0 auto;
}

.homeMenu, .menu li {
  margin:20px;
  border : 0;
  float: left;
  padding-top: 20px;
}

.menuList a{
  color:white;
  font-size: 22px;
  font-weight: bold;
}

.homeMenuList a{
  color:black;
  font-size: 22px;
  font-weight: bold;
}

.contentalign{
  margin: 0 auto;
  width: 1280px;
}

.partstyle{
  background-color: rgba(121, 200, 206, 0.5);
  width:30%;
  height:500px;
  float:left;
  padding:20px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.symstyle{
  background-color: rgba(121, 200, 206, 0.5);
  width:60%;
  height:500px;
  float:left;
  margin-left: 10px;
  padding:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.logo{
  width:250px;
  margin-top: 70px;
  margin-left: 120px;
}

input[radio]{
  width:20px;
}

.checklist{
  list-style:none;
  margin-top:0;
  display: block;
  padding-left: 0;
}

.checkli{
  padding-top:0;
  margin-top:10px;
  display: block;
  height:25px;
}

.SearchButton {
  width:100px;
  height:40px;
  margin:20px;
  align-items: left;
  background-color: rgb(4, 73, 95);
}

a{
  text-decoration: none;
}

.SearchButton a{
  color:white;
  font-size: 18px;
}

.listup{
  width:100%;
  height:100%;
}

tr td{
  text-align: left;
}

.listTable{
  padding:20px;
  height:120px;
  width:100%;
  border:1px solid rgb(4, 73, 95);
  margin:10px;
  border-radius: 10px;
}

.detailTable{
    padding:20px;
    width:100%
}

td{
  padding:10px;
}

.disimage{
  width:120px;
  height:120px;
}

.detailimage{
  width:200px;
  height:200px;
}

.detailback{
  margin-top: 50px;;
  background-color: rgba(204, 204, 255, 0.4);
  height: 100%;
  border-radius: 10px;
}

.checkedBox{
  display: inline-block;
  padding:3px;
  border-bottom:solid 1px;
  border-color: rgba(9, 9, 78, 0.4);
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: text-bottom;
}

.hospitalList{
  background-color: rgba(204, 204, 255, 0.4);
  width:20%;
  height:450px;
  float:left;
  padding:20px;
}

.hospitalMap{
  background-color: rgba(204, 204, 255, 0.4);
  width:70%;
  height:450px;
  float:left;
  margin-left: 10px;
  padding:20px;
}

h1 {
  margin-top:40px;
  margin-bottom: 20px;
}

.searchMedicine{
  width:90%;
  height:35px;
  display:inline-block;
}

.medicineBtn{
  width:8%;
  height: 41px;
  display:inline-block;
}

.MedicineSearchDiv{
  margin:0 auto;
}

.white{
  background-color: white;
  width:60%;
  height:500px;
  padding:20px;
  float:left;
  margin-left: 10px;
  padding:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.partLabel{

}

ul li label{
  font-weight: normal;
}

ul li:hover label{
  font-weight:bolder;
  transition-duration: 0.3s;
}

.removeBtn{
  margin-left:10px;
  color:black;
  font-size: 9px;
  width:20px;
  height:20px;
  background-color: rgba(36, 36, 48, 0.15);
  border-radius: 5px;
  vertical-align: text-bottom;
  border-color:rgba(163, 163, 168, 0.3);
}

.removeBtn:hover{
  color:white;
  background-color:black;
  transition-duration: 1s;
}

.intro{
  background-color: rgba(255, 255, 255, 0.25);
  padding:40px;
  bottom:50px;
  left:300px;
  position: absolute;
  color:black;
  font-size:18px;
}

.alignHome{
  margin: 0 auto;
  width: 1280px;
  height: 500px;
  position: relative;
}

.disName{
  color:black;
}

span{
  margin:5px;
}

.homeContent{
  width:1920px;
  height:880px;
}