.menu{
  /*background: linear-gradient(30deg, rgb(4, 73, 95), rgb(121, 200, 206));*/
  padding:20px;
}

html,body{
  padding:0;
  margin:0;
  color:white;
  font-family: 'Noto Serif KR', serif;
  background: linear-gradient(30deg, rgb(4, 73, 95), rgb(121, 200, 206));
}

.findParmacy{
  padding-right: 100px;
}

.menu ul {
  list-style:none;
  float:right;
  margin-top:50px;
}

.menuList{
  width:1920px;
  margin:0 auto;
}

.menu li {
  margin:20px;
  border : 0px;
  float: left;
  padding-top: 20px;
}

.menuList a{
  color:white;
  font-size: 28px;
}

.contentalign h1, h2, h3, h4, h5{
  text-align: center;
  padding-top: 90px;
}

.contentalign:not(.checkBoxHome){
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  width: 1280px;
  color:black;
}

.checkBoxHome{
  color:black;
  width:1280px;
  margin:0 auto;
  height:850px;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:16px;
  height:16px;
  border:1px solid darkgray;
   border-radius:50%;
  outline:none;
  background:#e6e6e6;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;  
  border-radius:50%;  
}
input[type='radio']:checked:before {
  background:blue;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity: 3;
    transform: none;
  }
}

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }    


.partstyle{
  background-color: white;
  color:black;
  box-shadow: 5px 7px 5px 7px rgba(104, 104, 128, 0.9);
  width:30%;
  height:350px;
  margin: 0 auto;
  padding:20px;
  border-radius: 20px;
  float:center;
  animation: fadeIn 1s ease-in-out;
  /*border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
*/}

.empty{
  margin-top: 50px;
}

.symstyle{
  background-color: rgba(121, 200, 206, 0.5);
  width:60%;
  height:500px;
  float:left;
  margin-left: 10px;
  padding:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.logo{
  width:270px;
  margin-top: 70px;
  margin-left: 120px;
}

input[radio]{
  width:20px;
}

.checklist{
  list-style:none;
  margin-top:0;
  display: block;
  padding-left: 0;
}

.checkli{
  padding-top:0;
  margin-top:15px;
  display: block;
  height:25px;
}

.SearchButton {
  width:100px;
  height:40px;
  margin:20px;
  background-color: black;
}

a{
  text-decoration: none;
  color:black;
}

.SearchButton a{
  color:white;
  font-size: 18px;
}

.listup{
  width:100%;
  height:100%;
}

tr td{
  text-align: left;
}

.listTable{
  margin-top: 30px;
  padding:20px;
  height:120px;
  margin-left:10%;
  width:80%;
  border:1px solid rgb(4, 73, 95);
  border-radius: 10px;
}

.detailTable{
    padding:20px;
    width:100%
}

td{
  padding:10px;
}

.disimage{
  width:120px;
  height:120px;
}

.detailimage{
  width:200px;
  height:200px;
}

.detailback{
  margin-top: 50px;;
  background-color: rgba(204, 204, 255, 0.4);
  height: 100%;
  border-radius: 10px;
}

.checkedBox{
  display: inline-block;
  padding:3px;
  padding-top: 10px;
  border-bottom:solid 1px;
  border-color: rgba(9, 9, 78, 0.4);
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: text-bottom;
  text-align: center;
}

.hospitalList{
  background-color: rgba(204, 204, 255, 0.4);
  width:20%;
  height:450px;
  float:left;
  padding:20px;
  overflow-y:scroll;
}

.hospitalMap{
  background-color: rgba(204, 204, 255, 0.4);
  width:70%;
  height:450px;
  float:left;
  margin-left: 10px;
  padding:20px;
}

.hosinfo{
  margin: 23px;
}

h1 {
  margin-top:40px;
  margin-bottom: 20px;
}

.searchMedicine{
  width:40%;
  height:35px;
  display:inline-block;
  margin-left:25%;
  background-color: rgba(80,80,80);
  border-radius: 30px 0 0 30px;
  color:white;
}

.medicineBtn{
  width:5%;
  height: 41px;
  display:inline-block;
}

.MedicineSearchDiv{
  margin:0 auto;
  padding-top: 50px;
}

input:focus{
  outline: none;
}

/*input test css*/
.searchBox {
  position: absolute;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  left:50%;
}

.searchBox:hover > .searchInput {
  width: 540px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}


.searchSymptom{
  width:90%;
  height:35px;
  display:inline-block;
}

.SymptomBtn{
  width:8%;
  height: 41px;
  display:inline-block;
}

/*
.white{
  background-color: white;
  width:60%;
  height:500px;
  padding:20px;
  float:left;
  margin-left: 10px;
  padding:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
*/

ul li label{
  font-weight: normal;
}

/*
ul li:hover label{
  font-size: 28px;
  transition-duration: 0.3s;
}
*/
.removeBtn{
  margin-left:10px;
  color:black;
  font-size: 9px;
  width:20px;
  height:20px;
  background-color: rgba(36, 36, 48, 0.15);
  border-radius: 5px;
  vertical-align: text-bottom;
  border-color:rgba(163, 163, 168, 0.3);
}

.removeBtn:hover{
  color:white;
  background-color:black;
  transition-duration: 1s;
}

.intro{
  background-color: rgba(255, 255, 255, 0.25);
  padding:40px;
  bottom:50px;
  left:300px;
  position: absolute;
  color:black;
  font-size:18px;
}

.alignHome{
  margin: 0 auto;
  width: 1280px;
  height: 500px;
  position: relative;
}

span{
  margin:5px;
}

.homeContent{
  width:1920px;
  height:880px;
}

.viewContain{
  background-color: rgba(255, 255, 255, 0.25);
  width:100%;
  left:50%;
  min-width: 1920px;
  margin:0 auto;
  overflow:hidden;
}

.title{
  font-size : 70px;
  padding:40px;
  top:300px;
  right:300px;
  position: absolute;
  color:black;
}

.detailTD{
  padding-bottom:100px;
}

table{
  font-size:18px;
}

.name{
  font-size:25px;
  font-weight: bold;
}

input[type="radio"]{
  font-size:25px;
  width:25px;
  height:25px;
  vertical-align: middle;
}

label{
  margin:15px;
  margin-top:0;
  font-size: 20px;
  vertical-align: middle;
}

input[type="radio"]:checked .partstyle{
  background-color: black;
}

/*new checkbox*/
/*input[type="radio"] { display: none; }
input[type="radio"] + label { font-weight: 400; font-size: 14px; }
input[type="radio"] + label span { display: inline-block; width: 18px; height: 18px; margin: -2px 10px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; border: 3px solid #ffffff; }
input[type="radio"] + label span { background-color: #fff; }
input[type="radio"]:checked + label { color: #333; font-weight: 700; }
input[type="radio"]:checked + label span { background-color: #ff8800; border: 2px solid #ffffff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); }
input[type="radio"] + label span, input[type="radio"]:checked + label span { -webkit-transition: background-color 0.24s linear; -o-transition: background-color 0.24s linear; -moz-transition: background-color 0.24s linear; transition: background-color 0.24s linear; }
*/